# Assignment 1 - Exploratory Data Analysis

## Instructions

For the First Assignment, we are going to be Performing Exploratory Data Analysis Using Python, R and any AI(Chatgpt, Perplexity, etc) and Critical Thinking.

1. There are set of questions that are similar for Python, R and AI task.
2. The dataset are same for all the tasks.
3. For Task involving R use a different R notebook.
4. You have to provide the prompts by using any AI(Chatgpt, Perplexity, etc) to get the answers for each question.
5. Provide the screenshot of the prompt and the output provided by the AI in the word document.
6. Provide the steps to solve the Critical Thinking tasks and also the respective code.
7. Each Task is presenting a challenge.

## Task 1: Python (25 Points)

Run this cell by default to load the dataset.

This tabular dataset consists of Human Resources details with data about name,emp id,etc

In [1]:
import pandas as pd
HR_data = pd.read_csv("HRDataset_v14.csv")
HR_data.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2

### Task 1A: 2 points
1. Check for the null values within each columns
2. Drop the rows containing the missing values

### Task 1B: 2 points
1. Plot a histogram for distribution of salary column

### Task 1C: 2 points
1. Count the number of employees in each department
2. Plot & visualize the number of employees in each department

### Task 1D: 2 points
Create a boxplot showing the analysis the relation between Salary and Department

### Task 1E: 2 points
Analyze and plot distribution of the performance score

### Task 1F: 3 points
Plot a histogram to analyze the distribution of employees age

### Task 1G: 3 points
Visualize the number of employees terminated for different reasons

### Task 1H: 3 points
Plot a histogram by analyzing the relationship between employee satisfaction and engagement survey score

### Task 1I: 3 points
Analyze and plot a line graph showing the relationship between days late in the last 30 days and performance score

### Task 1J: 3 points
Calculate and plot a barchart the turnover rate by department

## Task 2: R(25 Points)

Perform all the task for R where the data and the questions are same as that for Task 1.

Use a different R notebook.

## Task 3: AI (20 Points)

Perform all the task using any AI where the data and the questions are same as that for Task 1.

Provide the screenshots of prompts and output of AI in word document.

## Task 4: Critical Thinking (30 Points)

### Task 4A: Critical Thinking Task 1- Python (10 Points)
Analyze the relationship between employee satisfaction (EmpSatisfaction) and their performance score (PerformanceScore).
Does higher employee satisfaction correlate with better performance scores? Use statistical methods to determine the strength and significance of the correlation.

### Task 4B: Critical Thinking Task 2: Python (10 Points)
Which recruitment source yields employees with the longest tenure, and what might this suggest about the source's effectiveness in finding long-term hires?

### Task 4C: Critical Thinking Task 3: AI (10 Points)
Using an AI tool, generate predictions about an employee's likelihood of being terminated (Termd) based on their satisfaction score (EmpSatisfaction), engagement survey score (EngagementSurvey), and recruitment source (RecruitmentSource)?

### Programming Assignment Details

1. If using any resource (books, internet,AI), please make sure that you cite it within that cell.
2. Do not rename the dataset_files.

###  Submission details
Fill your name and ID in the jupyter notebook for each group member in the following format:

1. First Student Name and ID: ABC 1001XXXXXX
2. Second Student Name and ID: DEF 1002XXXXXX
3. Third Student Name and ID: GHI 1003XXXXXX

Name your submission files:

yourLastName_Last4digitsofyourID.ipynb 

yourLastName_Last4digitsofyourID.docx

EG: abc_1234_def_5678_xyz3819_python.ipynb, abc_1234_def_5678_xyz3819_R.ipynb and abc_1234_def_5678_xyz3819.docx

### NOTE: Only one team member will submit the file.